:root {
  --black: #000000;
  --white: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--black);
  color: var(--white);
  -webkit-font-smoothing: antialiased;
}

body,
input,
textarea,
button {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

:focus {
  box-shadow: 0 0 0 2px var(--white);
  outline: transparent;
}

button {
  cursor: pointer;
}

button:focus {
  box-shadow: 0 0 0 2px var(--white);
}

@media (max-width: 768px) {
  html {
    font-size: 87.5%;
  }
}
