/* header: gray-700 */

:root {
  --purple-300: #8284fa;
  --purple-500: #5e60c3;

  --blue-300: #4ea8de;
  --blue-500: #1e6f9f;

  --gray-100: #f2f2f2;
  --gray-200: #d9d9d9;
  --gray-300: #808080;
  --gray-400: #333333;
  --gray-500: #262626;
  --gray-600: #1a1a1a;
  --gray-700: #0d0d0d;

  --danger: #e25858;

  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 2.5rem;

  --border-radius: 8px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--gray-600);
  color: var(--gray-300);
  -webkit-font-smoothing: antialiased;
}

body,
input,
textarea,
button {
  font-family: 'Inter', sans-serif;
  font-size: var(--font-size-md);
  font-weight: 400;
}

:focus {
  box-shadow: 0 0 0 2px var(--blue-300);
  outline: transparent;
}

button:focus {
  box-shadow: 0 0 0 2px var(--blue-300);
  outline: transparent;
}

@media (max-width: 768px) {
  html {
    font-size: 87.5%;
  }
}
