.container {
  margin-top: 4rem;
  padding: 0 0.5rem;
  width: 100%;
}

.container header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.list {
  border-top: 1px solid var(--gray-400);
  border-radius: var(--border-radius);
  list-style: none;
  margin-top: 1.5rem;
}

@media (min-width: 992px) {
  .container {
    width: 40%;
  }
}
